extends layout

block content

  form(action="", method="get") 
    input(type="text", name="search", placeholder="Search...", value=( search_input !== undefined ? search_input : ""))
    button(type="submit") Search


  if element_list.length > 0
    ul
      each element in element_list
        li
          a(href=element.url) #{element.name}
  else
    ul 
      li There are no elements.
