@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  font-family: 'Ubuntu';
}

html, body {
  padding: 0;
  margin: 0;
}
.navbar {
  background-color: #333;
  padding-left: 30px;
  display: flex; /* Use flexbox for better alignment */
  align-items: center; /* Center vertically within the navigation bar */
  gap: 20px; /* Add some spacing between the links */
}

.ul_navbar {
  list-style-type: none;
  padding: 0;
  display: flex; /* Use flexbox for better alignment */
  align-items: center; /* Center vertically within the navigation bar */
  gap: 20px; /* Add some spacing between the links */
}

.li_navbar {
  display: inline;
  margin-right: 20px;
}

.a_navbar {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.a_navbar:hover {
  text-decoration: underline;
}

/* Style for the image */
.img_navbar {
  height: 40px; /* Adjust the height as needed */
  margin-right: 10px; /* Add some spacing between the image and links */
  border-radius: 50%; /* Rounded corners on the image (change to 0 for no rounded corners) */
}

.btn_primary {
  background-color: rgb(85, 85, 221);
  padding: 5px 20px;
  border-radius: 4px;
  border: none;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.btn_primary a {
  text-decoration: none;
  color: #fff;
}

.btn_primary:hover {
  background-color: rgb(43, 43, 255);
  box-shadow: 0px 3px 15px 1px rgba(0,0,0,0.8);
}